body {
 background: white;
 font-family: Arial, Helvetica, sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 color: navy;
}


body.dark {
background: linear-gradient(to right,#0F172A 0%,#1E3A5F 40%,#274C77 100%);
}


body.dark .cover{
    background: #1e293b;
    color: white;
}

body.dark h2{
    color: white;
}

main{
    margin-top: 50px;
}


.logo {
    font-weight: bold;
    color: blue;
    font-size: 17px;
    flex-shrink: 0;
    
}

.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; 
    background: white;
    padding: 10px;
}

.upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3px;
    flex-wrap: nowrap;
    gap: 10px;
}

.links {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
}

 .next{
    display: flex;
 gap: 20px;
}

.links a {
    white-space: nowrap;
    text-decoration: none;
    padding-bottom: 5px;
}

a:hover {
    color: blue;
    border-bottom: 1px solid blue;
}



.cover {
    background: aliceblue;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    
}

.select {
    display: flex;
    align-items: center;
   justify-content: space-between;
   gap: 50px;
   margin-bottom: 17px;
}

select {
    width: 120px;
    border: none;
    padding: 8px;
     border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
     font-weight: bold;
}

i{
    padding-right: 8px;
    color: navy;
   
}

button {
    border: none;
    margin: auto;
    display: block;
    padding: 15px;
    font-size: 15px;
     border-radius: 10px;
     background: #6C8EB0;
     color: white;
}

h2{
    margin-bottom: 6px;
}

@media (max-width: 480px){
    .select {
   
   gap: 30px;
}

h3{
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 17px;
}

.links{
    position: fixed;
    background: lightgray;
    top: 45px;
    right: 10px;
    border-radius: 10px;
    visibility: hidden;
}
.next{
     display: flex;
    flex-direction: column;
    padding: 16px;
   
}
.next a {
    margin-bottom: 20px;
    margin-top: 20px;
}
span{
    display: block;
    background: black;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-bottom: 3px;
}
}