body {
 background: white;
 font-family: Arial, Helvetica, sans-serif;
}

body.dark {
background: linear-gradient(to right,#0F172A 0%,#1E3A5F 40%,#274C77 100%);
color: white;
}



main {
    padding-top: 50px; 
}


.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: white;
}


.upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3px;
    flex-wrap: nowrap;
    gap: 10px;
}


.logo {
    font-weight: bold;
    color: blue;
    font-size: 17px;
    flex-shrink: 0;
    
}


.searchbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
   width: 100%;
   max-width: 500px;
} 

input {
    height: 30px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid lightblue;
    padding: 0 26px 0 10px;
    box-sizing: border-box;
}

input:focus{
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 5px  lightblue;
}

#clearbtn {
  position: absolute;
  top: 15%;
  right: 44px;
  background: none;
  border: none;
  font-size: 16px;
  transform: translateX(-50%);
}

#btn {
    background: linear-gradient(to right,#3F6FA8 0%,#5C89BD 40%,#6C8EB0 100%);
    color: white;
   border: none;
    padding: 6px;
    border-radius: 8px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
    flex-shrink: 0;
}


.links a {
    white-space: nowrap;
    text-decoration: none;
    padding-bottom: 5px;
}

a:hover {
    color: blue;
    border-bottom: 1px solid blue;
}

i{
    margin-right: 6px;
}

.details{
    background:url("image.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

.cards{
    display: flex;
    gap: 10px;
    text-align: center;
}




#place {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

#temp {
    font-size: 50px;
    font-weight: bold;
     margin-top: 60px;
     margin-bottom: 1px;
}

#para {
    margin-top: 1px;
}

h3 {
    margin-bottom: 1px;
}

#icon {
    width: 120px;
    height: 100%;
}


.div {
    display: flex;
    align-items: center;
}

.forecast {
    display: flex;
    gap: 45px;
   color: navy;
   margin-bottom: 40px;
}

.hourly-card{
    background: white;
    border: 1px solid rgba(0,0,0,0.08);
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
}

h3{
    margin-top: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.hourly{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 7px;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: auto;
}

.hour-card{
    background: white;
    border: 1px solid rgba(0,0,0,0.08);
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 30px 10px 30px 10px;
    
}

.hour-icon {
    width: 60px;
}

.daily-card{
    border: 1px solid rgba(0,0,0,0.08);
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px; 
    flex: 1;
}

.daily{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.day-card{
    border: 1px solid rgba(0,0,0,0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px; 
    padding:0px  4px 0px 6px;
}



.day {
    flex: 1;
}

.day-icon {
    width:40px;
    
}

.day-temp {
    flex: 1;
    text-align: center;
}

.day-para{
  flex: 1;
  white-space: nowrap;
  
}


.last{
    display: flex;
   
    align-items: center;
    text-align: center;
      background: white; 
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 10px;
    margin-top: 20px;
     overflow-x: auto;
 
}

.sunrise-icon {
    color: orange;
}

.sunset-icon{
    color: #c0c0c0;
}

.hum-icon {
    color: blue;
}

.cha-icon{
    color: skyblue;
}

.sunrise-card {
text-align: center;
}

.sunset-card {
text-align: center;
}


.pop {
    flex: 1;
     padding: 10px;
    
}

.pop:not(:last-child){
 border-right: 1px solid rgba(0,0,0,0.08);
}


@media (max-width: 500px){
.forecast{
    flex-direction: column;
    
}
.flex {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.hourly{
    overflow-x: auto;
    
}
.detail{
padding: 10px;
}
.details{
    padding: 0;
}
.cards{
  justify-content: center;
  font-size: 13px;
}
.links{
    position: fixed;
    background: lightgray;
    top: 45px;
    right: 10px;
    border-radius: 10px;
    visibility: hidden;
}
.next{
     display: flex;
    flex-direction: column;
    padding: 16px;
   
}
.next a {
    margin-bottom: 20px;
    margin-top: 20px;
}
span{
    display: block;
    background: black;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-bottom: 3px;
}

.last{
    font-size: 14px;
    gap: 8px;
    overflow-x: auto;
   
}

.pop {
    flex-shrink: 0;
    white-space: nowrap;
}
}

@media(min-width: 501px) and (max-width: 1024px){
    .forecast{
    flex-direction: column;  
}

.links{
    position: fixed;
    background: lightgray;
    top: 45px;
    right: 10px;
    border-radius: 10px;
    visibility: hidden;
}
.next{
     display: flex;
    flex-direction: column;
    padding: 16px;
   
}
.next a {
    margin-bottom: 20px;
    margin-top: 20px;
}
span{
    display: block;
    background: black;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-bottom: 3px;
}
}


    